1-.Crear un Dataframe

In [3]:
import pandas as pd
data = {'precio': [8000, 12000, 9500, 15000, 7000],
        'direccion': ['Calle A, 123', 'Avenida B, 45', 'Plaza C, 67', 'Ronda D, 89', 'Paseo E, 10']}
df = pd.DataFrame(data)
print("--- 1. DataFrame creado ---")
print(df)
print("\n")

--- 1. DataFrame creado ---
   precio      direccion
0    8000   Calle A, 123
1   12000  Avenida B, 45
2    9500    Plaza C, 67
3   15000    Ronda D, 89
4    7000    Paseo E, 10

2-.Dar toda la Informacion

In [4]:
print("--- 2. Información del DataFrame ---")
print(df.info())
print("\n")

--- 2. Información del DataFrame ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   precio     5 non-null      int64
 1   direccion  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes
None

Crear una mascara y van a filtrar por precio >=10,000

In [5]:
mascara = df['precio'] >= 10000
df_filtrado = df[mascara]
print("--- 3. Casas con precio >= 10,000 ---")
print(df_filtrado)
print("\n")

--- 3. Casas con precio >= 10,000 ---
   precio      direccion
1   12000  Avenida B, 45
3   15000    Ronda D, 89

¿Cuantos son inferiores a 10,000?

In [6]:
menores = df[~mascara]
cantidad = len(menores)
print("--- 4. Cantidad de casas con precio < 10,000 ---")
print(cantidad)
print("\n")

--- 4. Cantidad de casas con precio < 10,000 ---
3

Crear un nuevo Dataframe

In [7]:
nuevo_df = df_filtrado.copy()
print("--- 5. Nuevo DataFrame creado ---")
print(nuevo_df)
print("\n")

--- 5. Nuevo DataFrame creado ---
   precio      direccion
1   12000  Avenida B, 45
3   15000    Ronda D, 89

Dar toda la informacion

In [8]:
print("--- 6. Información del nuevo DataFrame ---")
print(nuevo_df.info())
print("\n")

--- 6. Información del nuevo DataFrame ---
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 1 to 3
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   precio     2 non-null      int64
 1   direccion  2 non-null      object
dtypes: int64(1), object(1)
memory usage: 48.0+ bytes
None

Crear una serie con todas las dirreciones de las casas >=10,000

In [9]:
serie_direcciones = nuevo_df['direccion']
print("--- 7. Serie de direcciones (precio >= 10,000) ---")
print(type(serie_direcciones)) # Verificamos que es una Serie
print(serie_direcciones)

--- 7. Serie de direcciones (precio >= 10,000) ---
<class 'pandas.core.series.Series'>
1    Avenida B, 45
3      Ronda D, 89
Name: direccion, dtype: object